  <mat-toolbar class="header-container">

        <img (click)="navigateTohome()" src="../../../assets/logo-green-1x.png" class="header-item-logo"alt="">

    <div class="header-currency-button-container" >
      <ng-container  *ngFor="let curr of frequentUseCurrencies">
        <button (click)="goToDeatilPage(curr.currency1,curr.currency2)" class="header__detail-button" mat-raised-button  >
          {{curr.currency1}}-{{curr.currency2}} Details
        </button>

      </ng-container>

    </div>

  </mat-toolbar>





   <!--

 -->
